In [ ]:
import pandas as pd
df = pd.read_csv("eval.csv")
print(df.Teacher.value_counts())

Mulugeta                221
 Endashaw               217
Blessing Okon           151
Belaynesh Assefa        151
Mohammadaman            145
Mulugeta Kassa          143
Aser Mesfin             142
 Kalkidan Belay         125
Daniel Getachew          90
 Bililegne               83
 Alelegne Damtew         83
Teferi Getahun           79
Sintayehu Wondatir       79
Endalk Asfaw             79
Mr. Teshager             79
Regassa Guta             78
Zerihun Alemu            78
Dagnew Akalu             78
Mohammadaman             78
Jacob Berette            75
Endashaw                 75
 Alelegne Damtew         72
 Eyob Teshome            72
 Endalk Asfaw            72
 Dagnew Akalu            72
  Jacob Berette          71
 Ayenew Tadesse          71
 Zerihun Alemu           71
 Sintayehu Wondatir      71
 Mohammadaman            70
 Mulugeta                70
 Eyob Teshome            63
 Rediet Seyoum           63
Sintayehu Wondat         61
Ethagne Degsew           61
 Firew                   57
 Etagegnew               30
Sentayhu                 27
Etagenehu                27
Etagegnehu               26
Asehafi                  25
 Teferi Getahun          21
Name: Teacher, dtype: int64

In [97]:
df.replace(" Kalkidan Belay ", "Kalkidan Belay", inplace=True)
df.replace(" Endashaw", "Endashaw Jigsaw", inplace=True)
df.replace("Endashaw", "Endashaw Jigsaw", inplace=True)
df.replace(" Alelegne Damtew", "Alelegne Damtew", inplace=True)
df.replace(" Alelegne Damtew ", "Alelegne Damtew", inplace=True)
df.replace(" Endalk Asfaw", "Endalk Asfaw", inplace=True)
df.replace(" Firew ", "Firew", inplace=True)
df.replace(" Etagegnew ", "Etagegnehu", inplace=True)
df.replace("Etagenehu", "Etagegnehu", inplace=True)
df.replace(" Mulugeta", "Mulugeta Belay", inplace=True)
df.replace("Mulugeta   ", "Mulugeta Belay", inplace=True)
df.replace(" Teferi Getahun ", "Teferi Getahun", inplace=True)
df.replace("Mohammadaman ", "Mohammadaman", inplace=True)
df.replace("Sentayhu", "Sintayehu Wondatir", inplace=True)
df.replace("Sintayehu Wondat", "Sintayehu Wondatir", inplace=True)
df.replace(" Sintayehu Wondatir ", "Sintayehu Wondatir", inplace=True)
df.replace("  Jacob Berette ", "Jacob Barette", inplace=True)
df.replace("Jacob Berette ", "Jacob Barette", inplace=True)
df.replace(" Mohammadaman", "Mohammadaman", inplace=True)
df.replace(" Bililegne  ", "Bililign", inplace=True)
df.replace("Mr. Teshager", "Teshager", inplace=True)
df.replace(" Rediet Seyoum  ", "Rediet Seyoum", inplace=True)
df.replace(" Eyob Teshome", "Eyob Teshome", inplace=True)
df.replace("Eyob Teshome ", "Eyob Teshome", inplace=True)
df.replace(" Dagnew Akalu", "Dagnew Akalu", inplace=True)
df.replace(" Zerihun Alemu", "Zerihun Alemu", inplace=True)
df.replace("Zerihun Alemu ", "Zerihun Alemu", inplace=True)
df.replace(" Ayenew Tadesse", "Ayenew Tadesse", inplace=True)
df.replace("Asehafi", "Ashenafi", inplace=True)
 

df.Teacher.value_counts()

Mohammadaman          293
Endashaw Jigsaw       292
Sintayehu Wondatir    238
Mulugeta              221
Alelegne Damtew       155
Blessing Okon         151
Belaynesh Assefa      151
Endalk Asfaw          151
Dagnew Akalu          150
Zerihun Alemu         149
Jacob Barette         146
Mulugeta Kassa        143
Aser Mesfin           142
Kalkidan Belay        125
Teferi Getahun        100
Daniel Getachew        90
Bililign               83
Etagegnehu             83
Teshager               79
Regassa Guta           78
Eyob Teshome           72
Ayenew Tadesse         71
Mulugeta Belay         70
Rediet Seyoum          63
 Eyob Teshome          63
Ethagne Degsew         61
Firew                  57
Ashenafi               25
Name: Teacher, dtype: int64